body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#contenedor {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
}

h1 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    width: calc(100% - 22px);
    font-size: 16px;
}

button {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Un verde más oscuro al pasar el mouse */
}

#imagen {
    display: none;
    width: 300px;
    margin-top: 20px;
    transition: transform 0.1s linear;
}
